@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
  font-family: Raleway;
}

body {
  min-width: 320px;
  overflow-x: hidden;
}

.container {
  padding: 0 30px;
  min-width: 200px;
  width: 100vw;
}
@media screen and (min-width: 1352px) {
  .container {
    width: 1352px;
    margin: 0 auto;
  }
}

h1 {
  font-size: 3.0625em;
  text-align: center;
  font-weight: 400;
}

h2 {
  font-size: 2.25em;
  text-align: center;
  font-weight: 400;
}

h3 {
  font-size: 1.875em;
  text-align: center;
  font-weight: 400;
}

h4 {
  font-size: 1.875em;
  text-align: center;
  font-size: 1.25em;
}

p {
  font-size: 1em;
  font-weight: 400;
  color: #A5A5A5;
}
p span {
  font-size: 1.25em;
  font-weight: bold;
  color: black;
}

.price {
  font-size: 2.875em;
}

.button {
  background-color: #08A6E4;
  padding: 1.375em 5.75em;
  border-radius: 2em;
  text-decoration: none;
  color: white;
}

.navbar {
  position: relative;
  padding: 1em 0;
  width: 100vw;
  box-shadow: 0px 3px 6px #00000029;
}
@media screen and (min-width: 750px) {
  .navbar {
    padding: 0;
  }
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.navbar__logo {
  color: #08A6E4;
  font-size: 2em;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}
@media screen and (min-width: 750px) {
  .navbar__logo {
    align-self: center;
  }
}
.navbar__hamburger {
  position: relative;
  align-self: center;
  height: 2em;
  width: 2em;
}
@media screen and (min-width: 750px) {
  .navbar__hamburger {
    display: none;
  }
}
.navbar__hamburger .navbar__line:nth-child(1) {
  position: absolute;
  height: 3px;
  width: 2em;
  border-radius: 1.5px;
  background-color: #07ACE6;
  top: 25%;
  transition: 0.4s;
}
.navbar__hamburger .navbar__line:nth-child(2) {
  position: absolute;
  height: 3px;
  width: 2em;
  border-radius: 1.5px;
  background-color: #07ACE6;
  top: 50%;
  transition: 0.4s;
}
.navbar__hamburger .navbar__line:nth-child(3) {
  position: absolute;
  height: 3px;
  width: 2em;
  border-radius: 1.5px;
  background-color: #07ACE6;
  top: 75%;
  transition: 0.4s;
}
.navbar__navigation {
  position: absolute;
  top: 165%;
  left: 0;
  width: 100%;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0px 3px 6px #00000029;
}
@media screen and (min-width: 750px) {
  .navbar__navigation {
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0;
    box-shadow: none;
  }
}
.navbar__navigation .navbar__menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 23px 0;
  font-weight: bold;
  width: 100%;
}
@media screen and (min-width: 750px) {
  .navbar__navigation .navbar__menu {
    flex-direction: row;
    height: 100%;
    margin: 0;
  }
}
@media screen and (min-width: 750px) {
  .navbar__navigation .navbar__menu .navbar__item {
    display: flex;
  }
}
.navbar__navigation .navbar__menu .navbar__item a {
  display: block;
  width: 100%;
  margin: 7px 0;
  padding-left: 25px;
  color: #A5A5A5;
  font-size: 11px;
  letter-spacing: 3.28px;
  text-align: left;
  text-decoration: none;
}
@media screen and (min-width: 750px) {
  .navbar__navigation .navbar__menu .navbar__item a {
    align-self: center;
    margin: 0;
    padding: 2.5em 12px;
  }
}
.navbar__navigation .navbar__menu .navbar__item a:hover {
  color: black;
}
@media screen and (min-width: 750px) {
  .navbar__navigation .navbar__menu .navbar__item a:hover {
    border-bottom: 2px solid #08A6E4;
    padding-top: calc(2.5em - 2px);
  }
}
.navbar .d-none {
  display: none;
}
@media screen and (min-width: 750px) {
  .navbar .d-none {
    display: block;
  }
}

.banner {
  margin-top: 5em;
}
.banner .banner__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner .banner__text .banner__description {
  margin: 1em 0 2em 0;
  color: black;
  text-align: center;
}
.banner .banner__picture {
  width: 100vw;
  height: 66.6666666667vw;
  background-image: url(../images/Background.png);
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 1352px) {
  .banner .banner__picture {
    height: 34vw;
  }
}
@media screen and (min-width: 1736px) {
  .banner .banner__picture {
    background-image: url(../images/Background@2x.png);
  }
}

.popularity {
  border-bottom: 1px solid #00000029;
}
@media screen and (min-width: 1024px) {
  .popularity {
    padding-bottom: 5%;
  }
}
.popularity .popularity__content {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .popularity .popularity__content {
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0 10%;
  }
}
.popularity .popularity__content .popularity__article {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popularity .popularity__content .popularity__article span {
  line-height: 2em;
  letter-spacing: 0.15em;
}
.popularity .popularity__content .popularity__article img {
  width: 3.5em;
  height: 3.5em;
  transform: translateX(0.5em);
}
.popularity .popularity__content .popularity__article .popularity__icon_basic::before {
  position: absolute;
  content: "";
  width: 3.875em;
  height: 3.875em;
  background-color: #08A6E4;
  border-radius: 50%;
  transform: translateX(-0.8em);
}
.popularity .popularity__content .popularity__article .popularity__icon_professional::before {
  position: absolute;
  content: "";
  width: 3.875em;
  height: 3.875em;
  background-color: #FB3B64;
  border-radius: 50%;
  transform: translateX(-0.8em) translateY(-0.3em);
}
.popularity .popularity__content .popularity__article .popularity__icon_premium::before {
  position: absolute;
  content: "";
  width: 3.875em;
  height: 3.875em;
  background-color: #55DFB4;
  border-radius: 50%;
  transform: translateX(-0.8em);
}

.advantages {
  background-color: #F7F7F7;
}
@media screen and (min-width: 1024px) {
  .advantages {
    padding-top: 5%;
  }
}
.advantages .container {
  padding: 30px 30px;
}
.advantages .advantages__article {
  font-size: 14px;
  padding: 30px 30px;
  background-color: white;
  border: 1px solid #00000029;
  border-radius: 5px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1024px) {
  .advantages .advantages__article {
    display: flex;
    font-size: 16px;
    padding: 2%;
  }
}
.advantages .advantages__article h3 {
  padding: 0.75em;
}
@media screen and (min-width: 1024px) {
  .advantages .advantages__article h3 {
    text-align: left;
    padding: 0 25% 2% 5%;
    font-size: 270%;
  }
}
.advantages .advantages__article p {
  color: black;
}
@media screen and (min-width: 1024px) {
  .advantages .advantages__article p {
    padding: 0 20% 8% 5%;
    font-size: 120%;
  }
}
@media screen and (min-width: 1024px) {
  .advantages .advantages__article .line {
    border: 2px solid black;
    width: 50%;
    border-radius: 2em;
    margin-left: 5%;
  }
}
.advantages .advantages__article_basic {
  position: relative;
}
@media screen and (min-width: 1024px) {
  .advantages .advantages__article_basic {
    flex-direction: row-reverse;
  }
  .advantages .advantages__article_basic .line {
    border-color: #FB3B64;
  }
}
.advantages .advantages__article_basic .advantages__first {
  padding: 10%;
}
@media screen and (min-width: 1024px) {
  .advantages .advantages__article_basic .advantages__first {
    padding: 3%;
  }
}
.advantages .advantages__article_basic .advantages__first .advantages_image {
  position: relative;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 388px) {
  .advantages .advantages__article_basic .advantages__first .advantages_image {
    content: url(../images/Macbook2@2x.png);
    transform: translateY(5%);
  }
}
.advantages .advantages__article_basic .advantages__first .advantages_figure {
  position: relative;
}
.advantages .advantages__article_basic .advantages__first .advantages_figure::before {
  position: absolute;
  content: "";
  background-color: #FB3B64;
  border-radius: 40%;
  width: 40%;
  height: 60%;
  transform: translateX(150%) translateY(-15%) rotate(-45deg);
}
@media screen and (min-width: 1024px) {
  .advantages .advantages__article_basic .advantages__first .advantages_figure::before {
    border-radius: 20%;
    transform: translateX(150%) translateY(-10%) rotate(-45deg);
  }
}
@media screen and (min-width: 1024px) {
  .advantages .advantages__article_basic .adventages__second {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (min-width: 1024px) {
  .advantages .advantages__article_professional .line {
    border-color: #08A6E4;
  }
}
.advantages .advantages__article_professional .advantages__first {
  padding: 2em;
}
.advantages .advantages__article_professional .advantages__first .advantages_image {
  position: relative;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 343px) {
  .advantages .advantages__article_professional .advantages__first .advantages_image {
    content: url(../images/iPhone2@2x.png);
  }
}
.advantages .advantages__article_professional .advantages__first .advantages_figure {
  position: relative;
  margin: 0 auto;
  transform: translateX(5%) scale(0.85);
}
@media screen and (min-width: 1024px) {
  .advantages .advantages__article_professional .advantages__first .advantages_figure {
    transform: translateX(0%) scale(0.8);
  }
}
.advantages .advantages__article_professional .advantages__first .advantages_figure::before {
  position: absolute;
  top: 0%;
  left: 0%;
  content: "";
  background-color: #08A6E4;
  border-radius: 50%;
  width: 80%;
  padding-top: 80%;
  transform: translateX(-10%);
}
@media screen and (min-width: 1024px) {
  .advantages .advantages__article_professional .adventages__second {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (min-width: 1024px) {
  .advantages .advantages__article_premium {
    border: none;
    background-color: #F7F7F7;
    padding: 0%;
  }
  .advantages .advantages__article_premium .line {
    border-color: #55DFB4;
    margin-bottom: 4%;
  }
  .advantages .advantages__article_premium h3 {
    margin-top: 4%;
  }
}
.advantages .advantages__article_premium .adventages__second {
  background-color: #55DFB4;
  border-radius: 0.3em;
  margin-top: 1em;
}
@media screen and (min-width: 1024px) {
  .advantages .advantages__article_premium .adventages__second {
    margin-top: 0;
    padding-left: 15%;
  }
}
.advantages .advantages__article_premium .adventages__second .advantages_image {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(30%) translateX(-30%);
}
@media screen and (min-width: 297px) {
  .advantages .advantages__article_premium .adventages__second .advantages_image {
    content: url(../images/Trumpet@2x.png);
    transform: translateY(15%) translateX(-5%);
  }
}
@media screen and (min-width: 1024px) {
  .advantages .advantages__article_premium .adventages__second .advantages_image {
    transform: translateY(35%) translateX(-35%);
  }
}
@media screen and (min-width: 1024px) {
  .advantages .advantages__article_premium .advantages__first {
    padding: 2%;
    background-color: white;
    border: 1px solid #00000029;
    border-radius: 5px;
  }
}

.pricing {
  padding: 5% 0;
}
.pricing ul {
  list-style-type: none;
  padding-bottom: 1.5em;
}
.pricing ul li {
  font-family: "Open Sans", Helvetica, sans-serif;
  padding: 0.625em;
}
.pricing a {
  text-decoration: none;
  font-family: "Open Sans", Helvetica, sans-serif;
  color: white;
  background-color: black;
  padding: 1em 3.5625em;
  border-radius: 1.4375em;
}
.pricing h3 {
  padding-top: 5%;
  padding-bottom: 5%;
}
@media screen and (min-width: 1024px) {
  .pricing h3 {
    padding: 0;
    padding-bottom: 3%;
  }
}
.pricing h4 {
  padding: 10% 0;
}
.pricing .pricing__articles > div:nth-child(1), .pricing .pricing__articles > div:nth-child(2), .pricing .pricing__articles > div:nth-child(3) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .pricing .pricing__articles {
    display: flex;
  }
}
@media screen and (min-width: 1024px) {
  .pricing .pricing__articles .pricing__features ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.pricing .pricing__article {
  border: 1px solid black;
  width: 100%;
  border-radius: 1em;
  padding: 5%;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .pricing .pricing__article {
    flex-direction: column;
  }
}
.pricing .pricing__article .pricing__type {
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .pricing .pricing__article .pricing__type {
    margin-bottom: 3.8125em;
  }
}
.pricing .pricing__article .pricing__price {
  font-size: 2.875em;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: 300;
}
.pricing .pricing__article .pricing__amount {
  font-size: 0.75em;
  font-weight: bold;
}
.pricing .pricing__article .icon {
  display: inline-block;
  stroke-width: 2px;
  height: 0.7em;
  width: 0.7em;
  background-size: cover;
}
.pricing .pricing__article .icon-check {
  background-image: url(../images/Check.svg);
  -webkit-filter: invert(80%) sepia(68%) saturate(382%) hue-rotate(95deg) brightness(93%) contrast(86%);
          filter: invert(80%) sepia(68%) saturate(382%) hue-rotate(95deg) brightness(93%) contrast(86%);
}
.pricing .pricing__article .icon-close {
  background-image: url(../images/Close.svg);
  -webkit-filter: invert(42%) sepia(87%) saturate(471%) hue-rotate(296deg) brightness(88%) contrast(111%);
          filter: invert(42%) sepia(87%) saturate(471%) hue-rotate(296deg) brightness(88%) contrast(111%);
}
.pricing .pricing__article div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pricing .pricing__button {
  transform: translateY(-50%);
}
.pricing .pricing__article_basic {
  border-color: #FB3B64;
  margin: 0 5%;
}
.pricing .pricing__article_basic .pricing__price {
  color: #FB3B64;
}
.pricing .pricing__button_basic {
  background-color: #FB3B64;
}
.pricing .container_basic {
  padding: 0 7%;
  flex-grow: 1;
}
@media screen and (min-width: 1024px) {
  .pricing .container_basic {
    padding: 5% 2%;
  }
}
.pricing .pricing__article_professional {
  border-color: #08A6E4;
  box-shadow: 8px 8px 41px -9px rgba(8, 166, 228, 0.36);
}
.pricing .pricing__article_professional .pricing__price {
  color: #08A6E4;
}
@media screen and (min-width: 1024px) {
  .pricing .pricing__article_professional ul li {
    padding: 0.8em;
  }
}
.pricing .pricing__button_professional {
  background-color: #08A6E4;
}
.pricing .container_professional {
  padding: 0 2%;
  flex-grow: 1;
}
.pricing .pricing__article_premium {
  border-color: #55DFB4;
}
.pricing .pricing__article_premium .pricing__price {
  color: #55DFB4;
}
.pricing .pricing__button_premium {
  background-color: #55DFB4;
}
.pricing .container_premium {
  padding: 0 7%;
  flex-grow: 1;
}
@media screen and (min-width: 1024px) {
  .pricing .container_premium {
    padding: 5% 2%;
  }
}

/* CALCULATOR */
.calc {
  padding: 80px 0;
  margin-bottom: 5%;
  background-color: #F7F7F7;
  font: "Open Sans" 12px/17px Open Sans;
}
@media (max-width: 1024px) {
  .calc {
    padding: 30px 15px;
  }
}
.calc h2 {
  text-align: center;
}
.calc__columns {
  max-width: 865px;
  margin: 50px auto 0;
  display: flex;
}
@media (max-width: 1024px) {
  .calc__columns {
    display: block;
  }
}
.calc__form {
  width: 50%;
  margin-right: 20px;
}
@media (max-width: 1024px) {
  .calc__form {
    width: 100%;
    margin-right: 0;
  }
}
.calc__input input, .calc__select .select__input {
  color: #A5A5A5;
  width: 100%;
  border-radius: 6px;
  border: 1px solid #08A6E4;
  padding: 11px 20px;
  line-height: 1em;
  font-size: 0.8125rem;
  box-shadow: 0px 3px 6px rgba(7, 172, 230, 0.16);
  margin-bottom: 20px;
  background-color: #ffffff;
}
.calc__input input::-moz-placeholder {
  color: #A5A5A5;
}
.calc__input input:-ms-input-placeholder {
  color: #A5A5A5;
}
.calc__input input::-ms-input-placeholder {
  color: #A5A5A5;
}
.calc__input input::placeholder {
  color: #A5A5A5;
}
.calc__select {
  position: relative;
}
.calc__select .select__input {
  position: relative;
  height: 40px;
  vertical-align: middle;
  padding: 13px 20px;
  cursor: pointer;
}
.calc__select .select__input::after {
  content: "";
  background-image: url("../images/Arrow Down.svg");
  width: 22px;
  height: 22px;
  display: block;
  position: absolute;
  right: 14px;
  top: 9px;
}
.calc__select .select__dropdown {
  position: absolute;
  z-index: 1;
  background-color: white;
  width: 100%;
  border-radius: 6px;
  border: 1px solid #FB3B64;
  overflow: hidden;
}
.calc__select .select__dropdown li {
  font-size: 13px;
  padding: 10px 20px;
  cursor: pointer;
}
.calc__select .select__dropdown li:hover {
  background-color: #F7F7F7;
}
.calc__select .select__dropdown.d-none {
  display: none;
}
.calc__select.open .select__input::after {
  transform: rotate(180deg);
}
.calc__select.open .select__dropdown {
  display: block;
}
.calc .form__checkbox {
  display: flex;
  padding-bottom: 4%;
}
.calc .form__checkbox .consent__text {
  padding-top: 4px;
}
.calc .form__checkbox input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-right: 10px;
  height: 24px;
  min-width: 24px;
  max-width: 24px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 5px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
  background: white;
  outline: none;
  position: relative;
}
.calc .form__checkbox input[type=checkbox]:checked {
  color: var(--color-professional);
}
.calc .form__checkbox input[type=checkbox]:checked:after {
  content: "";
  width: 11px;
  height: 11px;
  background-image: url("../images/Checkmark.svg");
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.calc__summary {
  width: 50%;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .calc__summary {
    width: 100%;
    margin-left: 0;
    margin-top: 30px;
  }
}
.calc__summary .summary__total,
.calc__summary .list__item {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  font-size: 0.875rem;
}
.calc__summary .summary__total.open,
.calc__summary .list__item.open {
  display: flex;
}
.calc__summary .summary__total .item__type,
.calc__summary .list__item .item__type {
  min-width: 30%;
}
.calc__summary .summary__total .item__calc,
.calc__summary .list__item .item__calc {
  margin: 0 auto;
}
.calc__summary .summary__total .item__price,
.calc__summary .list__item .item__price {
  min-width: 30%;
  text-align: right;
}
.calc__summary .d-none {
  display: none;
}
.calc__summary .summary__total {
  width: 50%;
  align-self: flex-end;
  margin-top: 22px;
  padding: 8px 20px;
  background-color: #08A6E4;
}
.calc__summary .summary__total .total__price {
  font-size: 1.25rem;
  font-weight: 700;
}
.calc__summary .list__item {
  padding: 6px 20px;
  background-color: #55DFB4;
  margin-bottom: 8px;
}
.calc__summary .list__item .item__price {
  font-weight: 700;
  font-size: 1.125rem;
}

/* CONTACT */
.contact .container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .contact .container {
    flex-direction: row;
    justify-content: center;
  }
}
@media screen and (min-width: 1024px) {
  .contact .container .contact__info {
    width: 30%;
  }
}
.contact .container .contact__info .contact__title {
  font-size: 40px;
  text-align: left;
  margin-bottom: 0.1em;
}
.contact .container .contact__info .contact__text {
  font-size: 1em;
  color: black;
  font-weight: 600;
}
.contact .container .contact__info .contact__details {
  margin-top: 2em;
  font: "Open Sans";
}
@media screen and (min-width: 1352px) {
  .contact .container .contact__info .contact__details {
    display: flex;
  }
}
.contact .container .contact__info .contact__details img {
  display: inline-block;
  margin-right: 0.3em;
}
.contact .container .contact__info .contact__details p {
  display: flex;
  align-items: flex-end;
  margin-bottom: 0.5em;
}
@media screen and (min-width: 1352px) {
  .contact .container .contact__info .contact__details p {
    margin-right: 1em;
  }
}
.contact .container .contact__info .contact__details p span {
  font-family: "Open Sans";
  font-size: 1em;
  align-self: center;
  color: #A5A5A5;
  font-weight: 400;
}
.contact .container .contact__form {
  margin-top: 2em;
}
@media screen and (min-width: 1024px) {
  .contact .container .contact__form {
    width: 30%;
    margin: 0 0 0 5%;
  }
}
.contact .container .contact__form form label {
  display: inline-block;
  color: #08A6E4;
  font-size: 0.6875em;
  font-weight: bold;
  letter-spacing: 0.3em;
  margin-bottom: 2em;
}
.contact .container .contact__form form input {
  display: inline-block;
  border: none;
  border-bottom: 1px solid #95989A;
  width: 100%;
  margin-bottom: 3em;
}
.contact .container .contact__form form .contact__accept {
  display: flex;
}
.contact .container .contact__form form .contact__accept label {
  letter-spacing: 0;
  font-size: 0.75em;
  color: #707070;
  font-weight: 500;
}
.contact .container .contact__form form .contact__accept input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-right: 10px;
  height: 24px;
  min-width: 24px;
  max-width: 24px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 5px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
  background: white;
  outline: none;
  position: relative;
}
.contact .container .contact__form form .contact__accept input[type=checkbox]:checked {
  color: var(--color-professional);
}
.contact .container .contact__form form .contact__accept input[type=checkbox]:checked:after {
  content: "";
  width: 11px;
  height: 11px;
  background-image: url("../images/Checkmark.svg");
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* FOOTER */
.footer {
  margin-top: 3em;
  padding: 0.8em 0;
  box-shadow: 0px -5px 40px #00000029;
}
.footer .container {
  display: flex;
  justify-content: space-between;
}
.footer .container .footer__first span {
  font-size: 1.625em;
  color: #08A6E4;
}
@media screen and (min-width: 1024px) {
  .footer .container .footer__first span {
    line-height: 1.625em;
  }
}
.footer .container .footer__first p {
  font-size: 0.6875em;
  color: #A5A5A5;
}
.footer .container .footer__second {
  display: flex;
}
.footer .container .footer__second img {
  margin: 0 0.4em;
}
/*# sourceMappingURL=main.css.map */
