@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
  font-family: "Raleway", sans-serif;
}

.container {
  padding: 0 30px;
  min-width: 200px;
  width: 100vw;
}
@media screen and (min-width: 1352px) {
  .container {
    width: 1352px;
    margin: 0 auto;
  }
}

h1 {
  font-size: 3.0625em;
  text-align: center;
  font-weight: 400;
}

h2 {
  font-size: 2.25em;
  text-align: center;
  font-weight: 400;
}

h3 {
  font-size: 1.875em;
  text-align: center;
  font-weight: 400;
}

h4 {
  font-size: 1.875em;
  text-align: center;
  font-size: 1.25em;
}

p {
  font-size: 1em;
  font-weight: 400;
  color: #A5A5A5;
}
p span {
  font-size: 1.25em;
  font-weight: bold;
  color: black;
}

.price {
  font-size: 2.875em;
}

.button {
  background-color: #08A6E4;
  padding: 1.375em 5.75em;
  border-radius: 2em;
  text-decoration: none;
  color: white;
}

.navbar {
  width: 100vw;
  background-color: rgba(169, 169, 169, 0.185);
}
@media screen and (min-width: 600px) {
  .navbar .container {
    display: flex;
  }
}
.navbar .navbar__logo {
  color: #08A6E4;
  font-size: 2em;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.navbar .navbar__navigation {
  margin-left: auto;
}
.navbar .navbar__navigation .navbar__menu {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 600px) {
  .navbar .navbar__navigation .navbar__menu {
    flex-wrap: nowrap;
  }
}
.navbar .navbar__navigation .navbar__menu .navbar__item {
  line-height: 3.5rem;
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 600px) {
  .navbar .navbar__navigation .navbar__menu .navbar__item {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0 1em;
    margin: 0 0.5em;
  }
}
@media screen and (min-width: 750px) {
  .navbar .navbar__navigation .navbar__menu .navbar__item {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0 1em;
    margin: 0 1.5em;
  }
}
.navbar .navbar__navigation .navbar__menu .navbar__item:hover {
  border-bottom: 2px solid #08A6E4;
  line-height: calc(3em - 2px);
}

.banner {
  margin-top: 5em;
}
.banner .banner__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner .banner__text .banner__description {
  margin: 1em 0 2em 0;
  color: black;
  text-align: center;
}
.banner .banner__picture {
  width: 100vw;
  height: 66.6666666667vw;
  background-image: url(../images/Background.png);
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 1352px) {
  .banner .banner__picture {
    height: 34vw;
  }
}
@media screen and (min-width: 1736px) {
  .banner .banner__picture {
    background-image: url(../images/Background@2x.png);
  }
}

.popularity {
  border-bottom: 1px solid #00000029;
}
@media screen and (min-width: 1352px) {
  .popularity {
    padding-bottom: 5%;
  }
}
.popularity .popularity__content {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1352px) {
  .popularity .popularity__content {
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0 10%;
  }
}
.popularity .popularity__content .popularity__article {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popularity .popularity__content .popularity__article span {
  line-height: 2em;
  letter-spacing: 0.15em;
}
.popularity .popularity__content .popularity__article img {
  width: 3.5em;
  height: 3.5em;
  transform: translateX(0.5em);
}
.popularity .popularity__content .popularity__article .popularity__icon_basic::before {
  position: absolute;
  content: "";
  width: 3.875em;
  height: 3.875em;
  background-color: #08A6E4;
  border-radius: 50%;
  transform: translateX(-0.8em);
}
.popularity .popularity__content .popularity__article .popularity__icon_professional::before {
  position: absolute;
  content: "";
  width: 3.875em;
  height: 3.875em;
  background-color: #FB3B64;
  border-radius: 50%;
  transform: translateX(-0.8em) translateY(-0.3em);
}
.popularity .popularity__content .popularity__article .popularity__icon_premium::before {
  position: absolute;
  content: "";
  width: 3.875em;
  height: 3.875em;
  background-color: #55DFB4;
  border-radius: 50%;
  transform: translateX(-0.8em);
}

.advantages {
  background-color: #F7F7F7;
}
@media screen and (min-width: 1352px) {
  .advantages {
    padding-top: 5%;
  }
}
.advantages .container {
  padding: 30px 30px;
}
.advantages .advantages__article {
  font-size: 14px;
  padding: 30px 30px;
  background-color: white;
  border: 1px solid #00000029;
  border-radius: 5px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1352px) {
  .advantages .advantages__article {
    display: flex;
    font-size: 16px;
    padding: 2%;
  }
}
.advantages .advantages__article h3 {
  padding: 0.75em;
}
@media screen and (min-width: 1352px) {
  .advantages .advantages__article h3 {
    text-align: left;
    padding: 0 25% 2% 5%;
    font-size: 270%;
  }
}
.advantages .advantages__article p {
  color: black;
}
@media screen and (min-width: 1352px) {
  .advantages .advantages__article p {
    padding: 0 20% 8% 5%;
    font-size: 120%;
  }
}
@media screen and (min-width: 1352px) {
  .advantages .advantages__article .line {
    border: 2px solid black;
    width: 50%;
    border-radius: 2em;
    margin-left: 5%;
  }
}
.advantages .advantages__article_basic {
  position: relative;
}
@media screen and (min-width: 1352px) {
  .advantages .advantages__article_basic {
    flex-direction: row-reverse;
  }
  .advantages .advantages__article_basic .line {
    border-color: #FB3B64;
  }
}
.advantages .advantages__article_basic .advantages__first {
  padding: 10%;
}
@media screen and (min-width: 1352px) {
  .advantages .advantages__article_basic .advantages__first {
    padding: 3%;
  }
}
.advantages .advantages__article_basic .advantages__first .advantages_image {
  position: relative;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 1352px) {
  .advantages .advantages__article_basic .advantages__first .advantages_image {
    content: url(../images/Macbook2@2x.png);
    transform: translateY(5%);
  }
}
.advantages .advantages__article_basic .advantages__first .advantages_figure {
  position: relative;
}
.advantages .advantages__article_basic .advantages__first .advantages_figure::before {
  position: absolute;
  content: "";
  background-color: #FB3B64;
  border-radius: 40%;
  width: 40%;
  height: 60%;
  transform: translateX(150%) translateY(-15%) rotate(-45deg);
}
@media screen and (min-width: 1352px) {
  .advantages .advantages__article_basic .advantages__first .advantages_figure::before {
    border-radius: 20%;
    transform: translateX(150%) translateY(-10%) rotate(-45deg);
  }
}
@media screen and (min-width: 1352px) {
  .advantages .advantages__article_basic .adventages__second {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (min-width: 1352px) {
  .advantages .advantages__article_professional .line {
    border-color: #08A6E4;
  }
  .advantages .advantages__article_professional h3 {
    padding-right: 50%;
  }
}
.advantages .advantages__article_professional .advantages__first {
  padding: 2em;
}
.advantages .advantages__article_professional .advantages__first .advantages_image {
  position: relative;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 1352px) {
  .advantages .advantages__article_professional .advantages__first .advantages_image {
    content: url(../images/iPhone2@2x.png);
  }
}
.advantages .advantages__article_professional .advantages__first .advantages_figure {
  position: relative;
  margin: 0 auto;
  transform: translateX(15%);
}
@media screen and (min-width: 1352px) {
  .advantages .advantages__article_professional .advantages__first .advantages_figure {
    transform: translateX(0);
  }
}
.advantages .advantages__article_professional .advantages__first .advantages_figure::before {
  position: absolute;
  top: 0%;
  left: 0%;
  content: "";
  background-color: #08A6E4;
  border-radius: 50%;
  width: 70%;
  padding-top: 70%;
}
@media screen and (min-width: 1352px) {
  .advantages .advantages__article_professional .adventages__second {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (min-width: 1352px) {
  .advantages .advantages__article_premium {
    border: none;
    background-color: #F7F7F7;
    padding: 0%;
  }
  .advantages .advantages__article_premium .line {
    border-color: #55DFB4;
    margin-bottom: 4%;
  }
  .advantages .advantages__article_premium h3 {
    margin-top: 4%;
  }
}
.advantages .advantages__article_premium .adventages__second {
  background-color: #55DFB4;
  border-radius: 0.3em;
  margin-top: 1em;
}
@media screen and (min-width: 1352px) {
  .advantages .advantages__article_premium .adventages__second {
    margin-top: 0;
    padding-left: 15%;
  }
}
.advantages .advantages__article_premium .adventages__second .advantages_image {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(20%) translateX(-10%);
}
@media screen and (min-width: 1352px) {
  .advantages .advantages__article_premium .adventages__second .advantages_image {
    content: url(../images/Trumpet@2x.png);
    transform: translateY(45%) translateX(-35%);
  }
}
@media screen and (min-width: 1352px) {
  .advantages .advantages__article_premium .advantages__first {
    padding: 2%;
    background-color: white;
    border: 1px solid #00000029;
    border-radius: 5px;
    margin-right: 5%;
  }
}

.pricing {
  padding: 5% 0;
}
.pricing ul {
  list-style-type: none;
  padding-bottom: 1.5em;
}
.pricing ul li {
  font-family: "Open Sans", Helvetica, sans-serif;
  padding: 0.625em;
}
.pricing a {
  text-decoration: none;
  font-family: "Open Sans", Helvetica, sans-serif;
  color: white;
  background-color: black;
  padding: 1em 3.5625em;
  border-radius: 1.4375em;
}
.pricing h3 {
  padding-top: 5%;
  padding-bottom: 5%;
}
@media screen and (min-width: 1024px) {
  .pricing h3 {
    padding: 0;
    padding-bottom: 3%;
  }
}
.pricing h4 {
  padding: 10% 0;
}
.pricing .pricing__articles > div:nth-child(1), .pricing .pricing__articles > div:nth-child(2), .pricing .pricing__articles > div:nth-child(3) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .pricing .pricing__articles {
    display: flex;
  }
}
@media screen and (min-width: 1024px) {
  .pricing .pricing__articles .pricing__features ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.pricing .pricing__article {
  border: 1px solid black;
  width: 100%;
  border-radius: 1em;
  padding: 5%;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .pricing .pricing__article {
    flex-direction: column;
  }
}
.pricing .pricing__article .pricing__type {
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .pricing .pricing__article .pricing__type {
    margin-bottom: 3.8125em;
  }
}
.pricing .pricing__article .pricing__price {
  font-size: 2.875em;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: 300;
}
.pricing .pricing__article .pricing__amount {
  font-size: 0.75em;
  font-weight: bold;
}
.pricing .pricing__article .icon {
  display: inline-block;
  stroke-width: 2px;
  height: 0.7em;
  width: 0.7em;
  background-size: cover;
}
.pricing .pricing__article .icon-check {
  background-image: url(../images/Check.svg);
  -webkit-filter: invert(80%) sepia(68%) saturate(382%) hue-rotate(95deg) brightness(93%) contrast(86%);
          filter: invert(80%) sepia(68%) saturate(382%) hue-rotate(95deg) brightness(93%) contrast(86%);
}
.pricing .pricing__article .icon-close {
  background-image: url(../images/Close.svg);
  -webkit-filter: invert(42%) sepia(87%) saturate(471%) hue-rotate(296deg) brightness(88%) contrast(111%);
          filter: invert(42%) sepia(87%) saturate(471%) hue-rotate(296deg) brightness(88%) contrast(111%);
}
.pricing .pricing__article div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pricing .pricing__button {
  transform: translateY(-50%);
}
.pricing .pricing__article_basic {
  border-color: #FB3B64;
  margin: 0 5%;
}
.pricing .pricing__article_basic .pricing__price {
  color: #FB3B64;
}
.pricing .pricing__button_basic {
  background-color: #FB3B64;
}
.pricing .container_basic {
  padding: 0 7%;
  flex-grow: 1;
}
@media screen and (min-width: 1024px) {
  .pricing .container_basic {
    padding: 5% 2%;
  }
}
.pricing .pricing__article_professional {
  border-color: #08A6E4;
  box-shadow: 8px 8px 41px -9px rgba(8, 166, 228, 0.36);
}
.pricing .pricing__article_professional .pricing__price {
  color: #08A6E4;
}
@media screen and (min-width: 1024px) {
  .pricing .pricing__article_professional ul li {
    padding: 0.8em;
  }
}
.pricing .pricing__button_professional {
  background-color: #08A6E4;
}
.pricing .container_professional {
  padding: 0 2%;
  flex-grow: 1;
}
.pricing .pricing__article_premium {
  border-color: #55DFB4;
}
.pricing .pricing__article_premium .pricing__price {
  color: #55DFB4;
}
.pricing .pricing__button_premium {
  background-color: #55DFB4;
}
.pricing .container_premium {
  padding: 0 7%;
  flex-grow: 1;
}
@media screen and (min-width: 1024px) {
  .pricing .container_premium {
    padding: 5% 2%;
  }
}
/*# sourceMappingURL=main.css.map */
