// Colors
$nav-primary: #000000;
$basic-primary: #FB3B64;
$basic-secondary: #EB476E;
$basic-primary-shadows: #F9043629;
$basic-secondary-shadows: #FF091129;
$professional-primary: #07ACE6;
$professional-secondary: #08A6E4;
$premium-primary: #55DFB4;
$contact-input: #95989A;
$contact-text: #707070;
$info-text: #A5A5A5;
$info-shadows: #00000029;
// Sizes
$logo-size: 2em;
// media
$mobile-nav-medium-size: 750px;
$mobile-nav-small-size: 600px;
$desktop-size: 1352px;
// font size
$primary-header: 3.0625em;
$secondary-header: 2.25em;
$tertiary-header: 1.875em;

$paragraph-size: 1em;
$favour-size: 1.25em;
$price-text-size: 2.875em;