@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
    font-family: Raleway;
}

body {
    min-width: 320px;
    overflow-x: hidden;
}

.container {
    padding: 0 30px;
    min-width: 200px;
    width: 100vw;
    @media screen and (min-width: $desktop-size) {
        width: $desktop-size;
        margin: 0 auto;
    }
}

h1 {
    font-size: $primary-header;
    text-align: center;
    font-weight: 400;
}

h2 {
    font-size: $secondary-header;
    text-align: center;
    font-weight: 400;
}

h3 {
    font-size: $tertiary-header;
    text-align: center;
    font-weight: 400;
}

h4 {
    font-size: $tertiary-header;
    text-align: center;
    font-size: 1.25em;
}

p {
    font-size: $paragraph-size;
    font-weight: 400;
    color: $info-text;
    span {
        font-size: $favour-size;
        font-weight: bold;
        color: black;
    }
}

.price {
    font-size: $price-text-size;
}

.button {
    background-color: $professional-secondary;
    padding: 1.375em 5.75em;
    border-radius: 2em;
    text-decoration: none;
    color: white;
}

@mixin navbarLine($top) {
    position: absolute;
    height: 3px;
    width: 2em;
    border-radius: 1.5px;
    background-color: $professional-primary;
    top: $top;
    transition: .4s;
}

.navbar {
    position: relative;
    padding: 1em 0;
    width: 100vw;
    box-shadow: 0px 3px 6px #00000029;
    @media screen and (min-width: $mobile-nav-medium-size) {
        padding: 0;
    }
    .container {
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    &__logo {
        color: $professional-secondary;
        font-size: $logo-size;
        font-weight: 400;
        display: flex;
        flex-direction: column;
        justify-content: flex-start; 
        text-align: left;
        @media screen and (min-width: $mobile-nav-medium-size) {
            align-self: center;
        }
    }

    &__hamburger {
        position: relative;
        align-self: center;
        height: 2em;
        width: 2em;
        @media screen and (min-width: $mobile-nav-medium-size) {
            display: none;
        }
        .navbar__line:nth-child(1) {
            @include navbarLine(25%);
        }
        .navbar__line:nth-child(2) {
            @include navbarLine(50%);
        }
        .navbar__line:nth-child(3) {
            @include navbarLine(75%);
        }
    }

    &__navigation {
        position: absolute;
        top: 165%;
        left: 0;
        width: 100%;
        margin: 0 auto;
        background-color: white;
        box-shadow: 0px 3px 6px #00000029;
        @media screen and (min-width: $mobile-nav-medium-size) {
            position: relative;
            width: fit-content;
            margin: 0;
            box-shadow: none;
        }

        .navbar__menu {
            list-style: none; 
            display: flex;
            flex-direction: column;
            margin: 23px 0;
            font-weight: bold;
            width: 100%;
            @media screen and (min-width: $mobile-nav-medium-size) {
                flex-direction: row;
                height: 100%;
                margin: 0;
            }
            .navbar__item {
                @media screen and (min-width: $mobile-nav-medium-size) {
                    display: flex;
                }
                a {
                    display: block;
                    width: 100%;
                    margin: 7px 0;
                    padding-left: 25px;
                    color: $info-text;
                    font-size: 11px;
                    letter-spacing: 3.28px;
                    text-align: left;
                    text-decoration: none;
                    @media screen and (min-width: $mobile-nav-medium-size) {
                        align-self: center;
                        margin: 0;
                        padding: 2.5em 12px;
                    }
                }   
                a:hover {
                    color: black;
                    @media screen and (min-width: $mobile-nav-medium-size) {
                        border-bottom: 2px solid $professional-secondary;
                        padding-top: calc(2.5em - 2px);
                    }
                }
            }
        }
    }
    @media screen and (min-width: $mobile-nav-medium-size) {
    }
    .d-none {
        display: none; 
    }
    @media screen and (min-width: $mobile-nav-medium-size) {
        .d-none {
            display: block; 
        }
    }
    

}

.banner {
    margin-top: 5em;
    .banner__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        .banner__description {
            margin: 1em 0 2em 0;
            color: black;
            text-align: center;
        }
    }
    .banner__picture {
        width: 100vw;
        height: (100vw * 2 / 3);
        background-image: url(../images/Background.png);
        background-position: center;
        background-size: cover;
        @media screen and (min-width: $desktop-size) {
            height: (100vw * 0.34);
        }
        @media screen and (min-width: 1736px) {
            background-image: url(../images/Background@2x.png);
        }
    }
}

.popularity {
    @media screen and (min-width: $laptop-size) {
        padding-bottom: 5%;
    }
    border-bottom: 1px solid #00000029;
    .popularity__content {
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        @media screen and (min-width: $laptop-size) {
            flex-direction: row;
            justify-content: space-evenly;
            padding: 0 10%;
        }
        .popularity__article {
            margin: 1em 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            span {
                line-height: 2em;
                letter-spacing: 0.15em;
            }
            @mixin popularity-image($color) {
                position: absolute;
                content: "";
                width: 3.875em;
                height: 3.875em;
                background-color: $color;
                border-radius: 50%;
            }
            img {
                width: 3.5em;
                height: 3.5em;
                transform: translateX(0.5em);
            }
            .popularity__icon_basic::before {
                @include popularity-image($professional-secondary);
                transform: translateX(-0.8em);
            }
            .popularity__icon_professional::before {
                @include popularity-image($basic-primary);
                transform: translateX(-0.8em) translateY(-0.3em);
            }
            .popularity__icon_premium::before {
                @include popularity-image($premium-primary);
                transform: translateX(-0.8em);
            }
        }
    }
}

.advantages {
    @media screen and (min-width: $laptop-size) {
        padding-top: 5%;
    }
    background-color: #F7F7F7;
    .container {
        padding: 30px 30px;
    }
    .advantages__article {
        font-size: 14px;
        padding: 30px 30px;
        background-color: white;
        border: 1px solid #00000029;
        border-radius: 5px;
        margin-bottom: 30px;
        @media screen and (min-width: $laptop-size) {
            display: flex;
            font-size: 16px;
            padding: 2%;
        }
        h3 {
            padding: 0.75em;
            @media screen and (min-width: $laptop-size) {
                text-align: left;
                padding: 0 25% 2% 5%;
                font-size: 270%;
            }
        }
        p {
            color: black;
            @media screen and (min-width: $laptop-size) {
                padding: 0 20% 8% 5%;
                font-size: 120%;
            }
        }
        .line {
            @media screen and (min-width: $laptop-size) {
                border: 2px solid black;
                width: 50%;
                border-radius: 2em;
                margin-left: 5%;
            } 
        }
    }

    .advantages__article_basic {
        position: relative;
        
        @media screen and (min-width: $laptop-size) {
            flex-direction: row-reverse;
            .line {
                border-color: $basic-primary;
            }
        }
        .advantages__first {
            padding: 10%;
            @media screen and (min-width: $laptop-size) {
                padding: 3%;
            }
            .advantages_image {
                @media screen and (min-width: 388px) {
                    content: url(../images/Macbook2@2x.png);
                    transform: translateY(5%);
                }
                position: relative;
                width: 100%;
                height: 100%;
            }

            .advantages_figure {
                position: relative;
            }

            .advantages_figure::before {
                position: absolute;
                content: "";
                background-color: $basic-primary;
                border-radius: 40%;
                width: 40%;
                height: 60%;
                transform: translateX(150%) translateY(-15%) rotate(-45deg);
                @media screen and (min-width: $laptop-size) {
                    border-radius: 20%;
                    transform: translateX(150%) translateY(-10%) rotate(-45deg);
                }
            }

            
        }

        .adventages__second {
            @media screen and (min-width: $laptop-size) {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
    }

    .advantages__article_professional {
        @media screen and (min-width: $laptop-size) {
            .line {
                border-color: $professional-secondary;
            }
        }
        .advantages__first {
            padding: 2em;
            .advantages_image {
                @media screen and (min-width: 343px) {
                    content: url(../images/iPhone2@2x.png);
                }
                position: relative;
                width: 100%;
                height: 100%;
            }

            .advantages_figure {
                position: relative;
                margin: 0 auto;
                transform: translateX(5%) scale(0.85);
                @media screen and (min-width: $laptop-size) {
                    transform: translateX(0%) scale(0.8);
                }
            }

            .advantages_figure::before {
                position: absolute;
                top: 0%;
                left: 0%;
                content: "";
                background-color: $professional-secondary;
                border-radius: 50%;
                width: 80%;
                padding-top: 80%;
                transform: translateX(-10%);
            }
        }

        .adventages__second {
            @media screen and (min-width: $laptop-size) {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
    }

    .advantages__article_premium {
        @media screen and (min-width: $laptop-size) {
            border: none;
            background-color: #F7F7F7;
            padding: 0%;
            .line {
                border-color: $premium-primary;
                margin-bottom: 4%;
            }

            h3 {
                margin-top: 4%;
            }
        }

        .adventages__second {
            background-color: $premium-primary;
            border-radius: 0.3em;
            margin-top: 1em;
            @media screen and (min-width: $laptop-size) {
                margin-top: 0;
                padding-left: 15%;
            }
            .advantages_image {
                position: relative;
                width: 100%;
                height: 100%;
                transform: translateY(30%) translateX(-30%);
                @media screen and (min-width: 297px) {
                    content: url(../images/Trumpet@2x.png);
                    transform: translateY(15%) translateX(-5%);
                }
                @media screen and (min-width: $laptop-size) {
                    transform: translateY(35%) translateX(-35%);
                }
            }
        }

        .advantages__first {
            @media screen and (min-width: $laptop-size) {
                padding: 2%;
                background-color: white;
                border: 1px solid #00000029;
                border-radius: 5px;
                // margin-right: 5%;
            }
        }
    }
}

.pricing {
    padding: 5% 0;
    ul {
        list-style-type: none;
        padding-bottom: 1.5em;
        li {
            font-family: "Open Sans", Helvetica, sans-serif;
            padding: 0.625em;
        }
    }
    a {
        text-decoration: none;
        font-family: "Open Sans", Helvetica, sans-serif;
        color: white;
        background-color: black;
        padding: 1em 3.5625em;
        border-radius: 1.4375em;
    }
    h3 {
        padding-top: 5%;
        padding-bottom: 5%;
        @media screen and (min-width: $laptop-size) {
            padding: 0;
            padding-bottom: 3%;
        }
    }
    h4 {
        padding: 10% 0;
    }
    .pricing__articles {
        &>div:nth-child(1),
        &>div:nth-child(2),
        &>div:nth-child(3)
        {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        @media screen and (min-width: $laptop-size) {
            display: flex;
        }
        .pricing__features ul {
            @media screen and (min-width: $laptop-size) {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }
    .pricing__article {
        border: 1px solid black;
        width: 100%;
        border-radius: 1em;
        padding: 5%;
        display: flex;
        justify-content: center;
        justify-content: space-around;
        align-items: center;
        @media screen and (min-width: $laptop-size) {
            flex-direction: column;
        }
        .pricing__type {
            text-align: center;
            @media screen and (min-width: $laptop-size) {
                margin-bottom: 3.8125em;
            }
        }
        .pricing__price {
            font-size: 2.875em;
            font-family: "Open Sans", Helvetica, sans-serif;
            font-weight: 300;
        }
        .pricing__amount {
            font-size: 0.75em;
            font-weight: bold;
        }
        .icon {
            display: inline-block;
            stroke-width: 2px;
            height: 0.7em;
            width: 0.7em;
            background-size: cover;
          }
        .icon-check {
            background-image: url(../images/Check.svg);
            filter: invert(80%) sepia(68%) saturate(382%) hue-rotate(95deg) brightness(93%) contrast(86%);
        }
        .icon-close {
            background-image: url(../images/Close.svg);
            filter: invert(42%) sepia(87%) saturate(471%) hue-rotate(296deg) brightness(88%) contrast(111%);
        }
    }
    .pricing__article div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .pricing__button {
        transform: translateY(-50%);
    }

    .pricing__article_basic {
        border-color: $basic-primary;
        margin: 0 5%;
        .pricing__price {
            color: $basic-primary;
        }
    }
    .pricing__button_basic {
        background-color: $basic-primary;
    }
    .container_basic {
        padding: 0 7%;
        flex-grow: 1;
        @media screen and (min-width: $laptop-size) {
            padding: 5% 2%;
        }
    }

    .pricing__article_professional {
        border-color: $professional-secondary;
        box-shadow: 8px 8px 41px -9px rgba(8,166,228,0.36);
        .pricing__price {
            color: $professional-secondary;
        }
        ul {
            li {
                @media screen and (min-width: $laptop-size) {
                    padding: 0.8em;
                }
            }
        }
    }
    .pricing__button_professional {
        background-color: $professional-secondary;
    }
    .container_professional {
        padding: 0 2%;
        flex-grow: 1;
    }

    .pricing__article_premium {
        border-color: $premium-primary;
        .pricing__price {
            color: $premium-primary;
        }
    }
    .pricing__button_premium {
        background-color: $premium-primary;
    }
    .container_premium {
        padding: 0 7%;
        flex-grow: 1;
        @media screen and (min-width: $laptop-size) {
            padding: 5% 2%;
        }
    }
}

/* CALCULATOR */

.calc {
    @mixin tablet {
        @media (max-width: 1024px) {
          @content;
        }
      }
      
    padding: 80px 0;
    margin-bottom: 5%;
    background-color: $color-light-grey;
    font: "Open Sans" 12px/17px Open Sans;
  
    @include tablet {
      padding: 30px 15px;
    }
  
    h2 {
      text-align: center;
    }
  
    &__columns {
      max-width: 865px;
      margin: 50px auto 0;
      display: flex;
  
      @include tablet {
        display: block;
      }
    }
  
    &__form {
      width: 50%;
      margin-right: 20px;
  
      @include tablet {
        width: 100%;
        margin-right: 0;
      }
    }
  
  
    &__input input,
    &__select .select__input {
      color: $info-text;
      width: 100%;
      border-radius: 6px;
      border: 1px solid $professional-secondary;
      padding: 11px 20px;
      line-height: 1em;
      font-size: 0.8125rem;
      box-shadow: 0px 3px 6px $color-primary-shadow;
      margin-bottom: 20px;
      background-color: $color-white;
    }
  
    &__input {
      input {
        &::placeholder {
          color: $info-text;
        }
      }
    }
  
    &__select {
      position: relative;
  
      .select__input {
        position: relative;
        height: 40px;
        vertical-align: middle;
        padding: 13px 20px;
        cursor: pointer;
  
        &::after {
          content: "";
          background-image: url("../images/Arrow\ Down.svg");
          width: 22px;
          height: 22px;
          display: block;
          position: absolute;
          right: 14px;
          top: 9px;
        }
      }
  
      .select__dropdown {
        position: absolute;
        z-index: 1;
        background-color: white;
        width: 100%;
        border-radius: 6px;
        border: 1px solid $color-redish;
        overflow: hidden;
  
        li {
          font-size: 13px;
          padding: 10px 20px;
          cursor: pointer;
  
          &:hover {
            background-color: $color-light-grey;
          }
        }
        &.d-none {
            display: none;
        }
      }
  
  
      &.open {
        .select__input::after {
          transform: rotate(180deg);
        }
  
        .select__dropdown {
          display: block;
        }
      }
    }
  
    .form__checkbox {
        display: flex;
        padding-bottom: 4%;
      .consent__text {
        padding-top: 4px;
      }
      input[type="checkbox"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin-right: 10px;
        height: 24px;
        min-width: 24px;
        max-width: 24px;
        display: inline-block;
        vertical-align: middle;
        border-radius: 5px;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
        background: white;
        outline: none;
        position: relative;
        }
    
    input[type="checkbox"]:checked {
        color: var(--color-professional);
        }
    
    input[type="checkbox"]:checked:after {
        content: "";
        width: 11px;
        height: 11px;
        background-image: url("../images/Checkmark.svg");
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        }  
    }
  
    &__summary {
      width: 50%;
      margin-left: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;  

      @include tablet {
        width: 100%;
        margin-left: 0;
        margin-top: 30px;
      }
  
      

      .summary__total,
      .list__item {
        box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);
        border-radius: 6px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $color-white;
        font-size: 0.875rem;
  
        &.open {
          display: flex;
        }
        .item__type{
            min-width: 30%;
        }
        .item__calc {
            margin: 0 auto;
        }
        .item__price {
            min-width: 30%;
            text-align: right;
        }
      }

      .d-none {
        display: none;
      }
  
      .summary__total {
        width: 50%;
        align-self: flex-end;
        margin-top: 22px;
        padding: 8px 20px;
        background-color: $color-primary;
  
        .total__price {
          font-size: 1.25rem;
          font-weight: 700;
        }
      }
  
      .list__item {
        padding: 6px 20px;
        background-color: $color-green;
        margin-bottom: 8px;
  
        .item {
          &__price {
            font-weight: 700;
            font-size: 1.125rem;
          }
        }
      }
    }
  }

/* CONTACT */

.contact {
    .container {
        display: flex;
        flex-direction: column;
        @media screen and (min-width: $laptop-size) {
            flex-direction: row;
            justify-content: center;
        }
        .contact__info {
            @media screen and (min-width: $laptop-size) {
                width: 30%;
            }
            .contact__title {
                font-size: 40px;
                text-align: left;
                margin-bottom: 0.1em;
            }
            .contact__text {
                font-size: 1em;
                color: black;
                font-weight: 600;
                
            }
            .contact__details {
                margin-top: 2em;
                font: "Open Sans";
                @media screen and (min-width: $desktop-size) {
                    display: flex;
                }
                img {
                    display: inline-block;
                    margin-right: 0.3em;
                }
                p {
                    display: flex;
                    align-items: flex-end;
                    margin-bottom: 0.5em;
                    @media screen and (min-width: $desktop-size) {
                        margin-right: 1em;
                    }
                }
                p span {
                    font-family: "Open Sans";
                    font-size: 1em;
                    align-self: center;
                    color: $info-text;
                    font-weight: 400;
                }
            }
        }
        .contact__form {
            margin-top: 2em;
            @media screen and (min-width: $laptop-size) {
                width: 30%;
                margin: 0 0 0 5%;
            }
            form {
                label {
                    display: inline-block;
                    color: $professional-secondary;
                    font-size: 0.6875em;
                    font-weight: bold;
                    letter-spacing: 0.3em;
                    margin-bottom: 2em;
                }
                input {
                    display: inline-block;
                    border: none;
                    border-bottom: 1px solid $contact-input;
                    width: 100%;
                    margin-bottom: 3em;
                }

                .contact__accept {
                    display: flex;
                    label {
                        letter-spacing: 0;
                        font-size: 0.75em;
                        color: $contact-text;
                        font-weight: 500;
                    }
                    input[type="checkbox"] {
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                        margin-right: 10px;
                        height: 24px;
                        min-width: 24px;
                        max-width: 24px;
                        display: inline-block;
                        vertical-align: middle;
                        border-radius: 5px;
                        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
                        background: white;
                        outline: none;
                        position: relative;
                    }
                    
                    input[type="checkbox"]:checked {
                        color: var(--color-professional);
                    }
                    
                    input[type="checkbox"]:checked:after {
                        content: "";
                        width: 11px;
                        height: 11px;
                        background-image: url("../images/Checkmark.svg");
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }
    }
}

/* FOOTER */

.footer {
    margin-top: 3em;
    padding: 0.8em 0;
    box-shadow: 0px -5px 40px $info-shadows;
    .container {
        display: flex;
        justify-content: space-between;
        
        .footer__first {
            span {
                font-size: 1.625em;
                color: $professional-secondary;
                @media screen and (min-width: $laptop-size) {
                    line-height: 1.625em;
                }
            }
            p {
                font-size: 0.6875em;
                color: $info-text;
            }
        }
        .footer__second {
            display: flex;
            img {
                margin: 0 0.4em;
            }
        }
    }
}